<div id="auth">
  <div class="row h-100">
    <div class="col-lg-5 col-12">
      <div id="auth-left">
        <%= render "layouts/components/auth_header" %>

        <h1 class="auth-title"><%= t(".title") %>.</h1>
        <p class="auth-subtitle mb-5"><%= t(".subtitle") %>.</p>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group position-relative has-icon-left mb-4">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-xl", placeholder: t(".email") %>
            <div class="form-control-icon">
              <i class="bi bi-envelope"></i>
            </div>
          </div>

          <!--
          <div class="form-group position-relative has-icon-left mb-4">
            <%#= f.text_field :username, autocomplete: "username", class: "form-control form-control-xl", placeholder: t(".username") %>
            <input type="text" class="form-control form-control-xl" placeholder="<%= t(".username") %>">
            <div class="form-control-icon">
              <i class="bi bi-person"></i>
            </div>
          </div>
          -->
          <% if @minimum_password_length %>
            <em style="text-align: right">(<%= t(".minimum_password_length", length: @minimum_password_length) %> )</em>
          <% end %>

          <div class="form-group position-relative has-icon-left mb-4">
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-xl", placeholder: t(".password") %>
            <div class="form-control-icon">
              <i class="bi bi-shield-lock"></i>
            </div>
          </div>

          <div class="form-group position-relative has-icon-left mb-4">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-xl", placeholder: t(".confirm_password") %>
            <div class="form-control-icon">
              <i class="bi bi-shield-lock"></i>
            </div>
          </div>

          <%= f.submit t(".signup"), class: "btn btn-primary btn-block btn-lg shadow-lg mt-5", data: {turbo: false} %>
        <% end %>

        <div class="text-center mt-5 text-lg fs-4">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>

    <div class="col-lg-7 d-none d-lg-block">
      <div id="auth-right">
      </div>
    </div>
  </div>
</div>
