<div id="auth">
  <div class="row h-100">
    <div class="col-lg-5 col-12">
      <div id="auth-left">
        <%= render "layouts/components/auth_header" %>

        <h1 class="auth-title"><%= t(".title") %>.</h1>
        <p class="auth-subtitle mb-5"><%= t(".subtitle") %>.</p>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group position-relative has-icon-left mb-4">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-xl", placeholder: t(".email") %>
            <div class="form-control-icon">
              <i class="bi bi-envelope"></i>
            </div>
          </div>

          <%= f.submit t(".send"), class: "btn btn-primary btn-block btn-lg shadow-lg mt-5" %>
        <% end %>
        <div class="text-center mt-5 text-lg fs-4">
          <p class="text-gray-600"> <%= t(".remember_your_account") %>
            <%= link_to t(".login"), new_session_path(resource_name), class: "font-bold" %>.
          </p>
          <%- if devise_mapping.registerable? %>
            <p class="text-gray-600"> <%= t(".dont_have_an_account") %>
              <%= link_to t(".signup"), new_registration_path(resource_name), class: "font-bold" %>.
            </p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block">
      <div id="auth-right">
      </div>
    </div>
  </div>
</div>
