<div class="<%= block_modifier_classes %>">
  <input type="checkbox" checked id="<%= @id %>" class="<%= block_class %>__checkbox">

  <label for="<%= @id %>">
    <!-- Use href: false to render a link without href because interfere whith checkbox check when click label -->
    <%= render Menu::MenuItemComponent.new(icon: @icon, text: @text, href: false) %>
  </label>

  <nav>
    <% if content? %>
      <%= content %>
    <% else %>
      <!-- Example content -->
      <ul>
        <li>Menu Item 1</li>
        <li>Menu Item 2</li>
        <li>Menu Item 3</li>
    </ul>
    <% end %>
  </nav>
</div>
