<div class="collapsible-menu collapsible-menu--<%= @position %>">
  <input type="checkbox" id="<%= @id %>" class="collapsible-menu__checkbox">

  <label for="<%= @id %>">
    <!-- Use link: false to render a link without href because interfere whith checkbox check when click label -->
    <%= render Menu::MenuItemComponent.new(icon: @icon, text: @text, link: false) %>
  </label>

  <nav>
    <% if content? %>
      <%= content %>
    <% else %>
      <!-- Example content -->
      <ul>
        <li>Menu Item 1</li>
        <li>Menu Item 2</li>
        <li>Menu Item 3</li>
    </ul>
    <% end %>
  </nav>
</div>
