<div class="<%= block_modifier_classes %>">
  <input type="checkbox" id="<%= @id %>" class="<%= block_class %>__checkbox">

  <label for="<%= @id %>" class="<%= block_class %>__button">
    <%= render Menu::MenuItemComponent.new(icon: @icon, text: @text) %>
    <%= render Menu::MenuItemComponent.new(icon: "close", text: @text) %>
  </label>

  <nav>
    <% if content? %>
      <%= content %>
    <% else %>
      <!-- Example content -->
      <ul>
        <li>Menu Item 1</li>
        <li>Menu Item 2</li>
        <li>Menu Item 3</li>
    </ul>
    <% end %>
  </nav>
</div>
