<%= render Menu::CollapsibleMenuComponent.new(icon: "justify", text: "Menú", id: "main-menu", position: :right) do %>
  <div class="<%= block_modifier_classes %>">
    <ul class="<%= block_class %>__header">
      <li class="<%= block_class %>__logo">
        <%= logo_tag %>
      </li>
      <li class="<%= block_class %>__settings">
        <ul>
          <li><%= render Menu::MenuItemComponent.new(icon: "person", text: "Mi Perfil", inline: true, size: :sm) %></li>
          <li><%= render Menu::MenuItemComponent.new(icon: "box-arrow-left", text: "Cerrar Sesión", inline: true, size: :sm) %></li>
        </ul>
      </li>
    </ul>

    <ul class="<%= block_class %>__items">
      <li class="<%= block_class %>__items-group-title" >
        Inventario
      </li>
      <li class="<%= block_class %>__items-group">
        <ul>
          <li><%= render Menu::MenuItemComponent.new(icon: "warehouse", text: "Depósito 1 - Sucursal Principal", url: root_path) %></li>
          <li><%= render Menu::MenuItemComponent.new(icon: "warehouse", text: "Depósito 2") %></li>
        </ul>
      </li>
      <li class="<%= block_class %>__items-group">
        <ul>
          <li><%= render Menu::MenuItemComponent.new(icon: "warehouse", text: "Depósitos") %></li>
          <li><%= render Menu::MenuItemComponent.new(icon: "boxes", text: "Productos") %></li>
          <li><%= render Menu::MenuItemComponent.new(icon: "tags", text: "Marcas") %></li>
        </ul>
      </li>
      <li class="<%= block_class %>__items-group-title" >
        Configuración
      </li>
      <li class="<%= block_class %>__items-group">
        <ul>
          <li><%= render Menu::MenuItemComponent.new(icon: "people", text: "Usuarios") %></li>
        </ul>
      </li>
    </ul>
  </div>
<% end %>
