<div class="c-main-content__header c-main-content__header--primary">
  <%= render Breadcrumb::BreadcrumbComponent.new do |breadcrumb| %>
    <% breadcrumb.with_items([
      { icon: "justify" },
      { text: t("layouts.components.sidebar.stock") },
      { text: t("activerecord.models.product_brand.other"), active: true }
    ]) %>
  <% end %>

  <div class="c-main-content__subheader">
    <h1 class="c-main-content__title"><%= t("activerecord.models.product_brand.other") %></h1>
    <button class="e-btn e-btn--primary"><%= t("layouts.components.buttons.new_f", model: t("activerecord.models.product_brand.one"))%></button>
  </div>
</div>

<div class="c-main-content__header c-main-content__header--secondary">
  <form class="c-main-content__searcher">
    <button class="e-btn e-btn--outline-primary"><%= icon_tag("grid") %></button>
    <input class="e-input">
    <button class="e-btn e-btn--primary"><%= icon_tag("search") %></button>
  </form>
</div>
