<div class="u-container c-main-content-header__header">
  <div class="c-main-content__header-breadcrumb">
    <%= render Breadcrumb::BreadcrumbComponent.new do |breadcrumb| %>
      <% breadcrumb.with_items([
          { icon: "justify" },
          { text: t("layouts.components.sidebar.stock") },
          { text: t("activerecord.models.product_brand.other"), active: true }
        ]) %>
    <% end %>
  </div>
  <div class="c-main-content-header__title">
    <h1><%= t("activerecord.models.product_brand.other") %></h1>
  </div>
  <div class="c-main-content-header__add">
    <button class="e-btn e-btn--primary e-btn--round e-btn--lg e-btn--bold" title="Nueva Marca">
      <%= icon_tag("plus-lg") %>
    </button>
  </div>
</div>
<div class="u-container c-main-content-header__searcher">
  <form>
    <button class="e-btn e-btn--outline-primary"><%= icon_tag("grid") %></button>
    <input class="e-input">
    <button class="e-btn e-btn--primary"><%= icon_tag("search") %></button>
  </form>
</div>
