<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-12 col-md-6 order-md-1 order-last">
        <h4 class="card-title"><%= t("activerecord.models.product_brand.other") %></h4>
        <%= link_to t("layouts.components.buttons.new_f", model: t("activerecord.models.product_brand.one")), new_product_brand_path, class: "btn btn-primary", data: { turbo: false } %>
      </div>
      <div class="col-12 col-md-6 order-md-2 order-first">
        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= t("layouts.components.sidebar.stock") %></li>
            <li class="breadcrumb-item"><%= t("layouts.components.sidebar.settings") %></li>
            <li class="breadcrumb-item active" aria-current="page"><%= t("activerecord.models.product_brand.other") %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div id="product_brands">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th><%= t("activerecord.attributes.product_brand.name") %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% product_brands.each do |product_brand| %>
              <tr>
                <td class="text-bold-500"><%= product_brand.name %></td>
                <td class="text-end">
                  <%= link_to edit_product_brand_path(product_brand), class: "btn btn-sm icon btn-primary", data: { turbo: false } do %>
                    <i class="bi bi-pencil"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
