<!DOCTYPE html>
<html>
  <head>
    <title>MaKT</title>
    <%= favicon_logo_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div id="app">
      <!-- SIDEBAR -->
      <div id="sidebar" class="active sidebar-desktop">
        <div class="sidebar-wrapper active ps ps--active-y">
          <%= render "layouts/components/sidebar" %>
        </div>
      </div>

      <!-- MAIN CONTAINER -->
      <div id="main" class="layout-navbar navbar-fixed">
        <header>
          <%= render "layouts/components/navbar" %>
        </header>

        <!-- MAIN CONTENT -->
        <div id="main-content">
          <%= yield %>
        </div>
        <footer>
          <div class="footer clearfix mb-0 text-muted">
            <div class="text-center">
              <p>2023 © MaKT</p>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
