<!DOCTYPE html>
<html>
  <head>
    <title>MaKT</title>
    <%= favicon_logo_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="main-container">
      <%= render Menu::MenuBarComponent.new do |menu_bar| %>
        <% menu_bar.with_home(icon: "dashboard", text: "Inicio") %>

        <% menu_bar.with_shortcuts([
          { icon: "warehouse", text: "Depósitos" },
          { icon: "boxes", text: "Productos" },
          { icon: "arrow-repeat", text: "Movimientos" }
        ]) %>

        <% menu_bar.with_menu(icon: "justify", text: "Menú") %>
      <% end %>

      <%= render Menu::CollapsibleMenuComponent.new %>

      <div id="main-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
