<!DOCTYPE html>
<html>
  <head>
    <title>MaKT</title>
    <%= favicon_logo_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#1f8ec2">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div id="main-container">
      <%= render Menu::MenuBarComponent.new do |menu_bar| %>
        <% menu_bar.with_home(icon: "dashboard", text: "Inicio", url: root_path, turbo: true) %>

        <% menu_bar.with_shortcuts([
          { icon: "warehouse", text: "Depósitos" },
          { icon: "boxes", text: "Productos" },
          { icon: "arrow-repeat", text: "Movimientos" },
          { icon: "tags", text: "Marcas", url: product_brands_path, turbo: true },
        ]) %>

        <% menu_bar.with_main_menu %>
      <% end %>

      <div id="main-content" class="c-main-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
