<!DOCTYPE html>
<html>
  <head>
    <title>MaKT</title>
    <%= favicon_logo_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div id="auth">
      <div class="row h-100">
        <div class="col-lg-5 col-12">
          <div id="auth-left">
            <%= render "layouts/components/auth_header" %>

            <%= yield %>

            <div class="text-center mt-5 text-lg fs-4">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>

        <div class="col-lg-7 d-none d-lg-block">
          <div id="auth-right">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
